#item_editor,
#item_list {
    overflow-y: scroll;
}

/* fix for DataTables duplicate sorting controls */
.dataTables_scrollBody thead {
    visibility: hidden;
}

.list {
	list-style: none; 
	padding: 0px; 
	margin: 0px;
}

.listborder {
	border-top: solid 1px #DDD;
}

/* css fix to allow us to drag items into empty lists */
tbody.connectable {
    display:block;
    min-height:10px;
    background-color: inherit;
}

/* display magnifying glass icon inside the search field*/
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon span.icon-addon {
    position: absolute;
    padding: 10px 10px;
    pointer-events: none;
    color: #666;
}

/* adjustments to make ACE editor use the whole space */
#plist {
    position: absolute;
    height: 800px;
}